<a href="https://colab.research.google.com/github/Chieh-YuHung-hub/HTM737/blob/main/Week_6_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#We learned the differences betwwen SQL and Python.
#The data structure of SQL is tables, and the of Python is varaibles(words), data containers(sentences), and dataframe(Table).
#Since the data storage of SQL is persistent, and that of Python is transient
#we usually clean data via SQL, and then input the cleaned data to build models via Python. After training models, we store the outcomes in SQL.
#We compared Excel and Python. The differences between tham are:
#There is almost no limitaion in Python, but around 1M rows in Excel
#Python is free and open-source software available to the public.
#It is hard to track steps in Excel, but it's available in Pytthon by running code.
#API (Application Programming Interface) is a tool that allows different programs to communicate and exchange data.

In [ ]:
mname = 'John'
#create string. We use # in Python to take some notes. The function is just like we use -- to note in SQL.

In [ ]:
print(mname)
#We use print() when we need to see some information.
#However, SELECT in SQL not only shows information, but also query the database.

John

In [ ]:
print(mname[0:2])
#the value after the colon is NOT included
#which means read up to 2
#what we did here is that we sliced the string by index which is the order, location of the character
#In Python, counting starts from 0, not 1.

Jo

In [ ]:
MCPHS_zip_code = '02115-2345'
#We need to add quotation marks''as the zip code is a string, not a number.

In [ ]:
print(MCPHS_zip_code [0:5])
#This indicates to show the first 5 digits of the zip code, which includes the 0, 1st, 2ed, 3rd, and 4th position in the string.

02115

In [ ]:
print(MCPHS_zip_code [-1])
#This means to take the last digit of the zip code.

5

In [ ]:
john_age = 65

In [ ]:
print(john_age)

65

In [ ]:
print (john_age - 5)

60

In [ ]:
2*2

4

In [ ]:
john_weight = 150.7 #this is float because it has decimals

In [ ]:
print(int(john_weight))
#integer rounds down (cut the decimal)
#integer has no decimals

150

In [ ]:
john_weight_int = 150

In [ ]:
print(float(john_weight_int))
#Float here means floating-point number.

150.0

In [ ]:
john_weight_str = str(john_weight_int)
#converted to text
#For some forms that only accept strings rather than numbers

In [ ]:
print(john_weight_int/2)

75.0

In [ ]:
print(john_weight_str/2)
#error because we cannot do math operations on text

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
first_list =['a',1]
#A string 'a' and a number 1.
#Square brackets
#values can be changed

In [ ]:
print(first_list[0])

a

In [ ]:
first_list[0] ='ab'
#Replace 'a' to 'ab'

In [ ]:
print(first_list)

['ab', 1]

In [ ]:
first_tuple = ('a',1)
#Parentheses
#values cannot be changed
#Tuple is suitable to use when we don't want something to be changed.
#It is more efficient than list because of its character.

In [ ]:
first_tuple [0]

'a'

In [ ]:
first_tuple [0] ='ab'
# tuple is not changable

TypeError: 'tuple' object does not support item assignment

In [ ]:
first_dist = {'john_age':65, 'heather_age':45}
#Structure: {key: value, key2: value2, ...}
#Curly bracket
#Easier to access values by keys
#Values and be changed

In [ ]:
print(first_dist['john_age'])

65

In [ ]:
# Create the first set
set1 = {1, 2, 3}

# Create the second set
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)

# Print the union set
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
def f_to_c(temp_f):
  temp_c = round((temp_f-32)*5/9,1)
  return temp_c
  #def(define)+(Function name)+(input)+:(colon)+function+return

In [ ]:
f_to_c(45)

7.2

In [ ]:
def my_secret_fuction(w,h):
  bmi= w/h**2
  return bmi
  #2 variables

In [ ]:
my_secret_fuction(h=1.7, w=65)

22.49134948096886

In [ ]:
def calculate_bmi_category(weight_kg, height_m):
    bmi = weight_kg / (height_m ** 2)

    if bmi < 18.5:
        return f"BMI: {bmi:.1f} - Underweight"
    elif bmi < 25:
        return f"BMI: {bmi:.1f} - Normal weight"
    elif bmi < 30:
        return f"BMI: {bmi:.1f} - Overweight"
    else:
        return f"BMI: {bmi:.1f} - Obese"
        #The main idea of "If...Else..." in Python is like "Case When...Then...Else..."
        #f" "represents f-string
        #.1f represents round to 1 decimal place

In [ ]:
calculate_bmi_category (height_m=1.71, weight_kg=80)

'BMI: 27.4 - Overweight'

In [ ]:
import pandas as pd
#import library